@font-face {
    font-family: "Tupo Vyaz Regular";
    src: url("Fonts/Tupo Vyaz/tupo-vyaz_regular.ttf");
  }
  ::placeholder{
    color: #e5e5e5;
}
body{
    background: #242635;
    color: #f46d25;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
a{
    color: white;
}
.header {
  font-family: 'Open Sans', sans-serif;
    position: fixed;  
    background: #34374d;    
    z-index: 100;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

/* Burger */

.menu-btn {
  padding-left: 80px;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	transition: all 0.5s;
}

.menu.active {
	transform: translateX(0);
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */


.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}


.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: #242635;
	transform: translateX(-100%);
	transition: transform 0.5s; 
}

.menu.active {

	transform: translateX(0);
}

/* Burger end */
.logo > img{
    width: 50px;
    height: 50px;
    padding-left: 60px;
}

.search {
  display: flex;
  align-items: center;
  background: #242635;
  padding: 15px 30px;
  border-radius: 50px;

}
.serach-txt {
  background: none;
  border: 0;
  outline: none;
  color: white;
  font-family: 'Open Sans', sans-serif;

}
.search-btn > img{

  height: 15px;
}
.search-btn{
  display: flex;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.nav-item {
    margin: 20px;
    
    text-decoration: none;
}
.nav-item > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #f46d25;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50PX;
}


.profile > img {
  height: 40px;
}


/* Left panel */

.sidenav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
    height: 100%;
    width: 330px;
    position: fixed;
    z-index: 1;
    
    left: 0px;
    background: #242635;
    overflow-x: hidden;
    padding: 100px 0;

}

.sidenav a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
    margin: 30px 5px 30px 30px;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    background: #242635;
}
.sidenav a:hover{
  background: #34374d;
}
.sidenav img{
  height: 30px;
  display: flex;
  margin-right: 10px;
}

/* Board */

.tabs {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 325px;

    color: #fff;

  }

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: #34374d;
  }

  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px;
  }

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3 {
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #eee;
    border: none;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin-left: 6px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .tabs>label:first-of-type {
    margin-left: 0;
    
  }
  .tabs>label {
    background-color: #242635;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50PX; 
  }
  .tabs>label:hover {
    background-color: #34374d;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50PX; 
  }
  .tabs>label::before{
    background-color: #34374d;
  }
  .tab-btn{
    display: flex;
    height: 1500px;
  }
#content-1{
  padding-left: 0;
  border: none;
}
#content-2{
  padding-left: 0;
  border: none;
}
#content-3{
  padding-left: 0;
  border: none;
}
.content-block {
  height: auto;
  min-height: 500px;
  background: #34374d;
  border-radius: 100px;

  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
  
}
.content-block > img{
  height: 400px;
  border-radius: 50px;
}
.cnt-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 50px;
}
.title {
  font-size: 22px;
}
.txt {
  padding-top: 50px;
  font-size: 17px;
  font-weight: 400;
}
.cnt-btn{
  padding-top: 50px;
}
.cnt-btn  a{
  padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  border-radius: 50px;
  text-decoration: none;
}
.cnt-btn  a:hover{
  background: #242635;
}

/* Auth */
#content-3 > .content-block{
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.auth img{
  height: 50px;
  align-items: center;
  padding-bottom: 25px;
}
.auth-txt {
  padding-bottom: 25px;
}
.auth-btn a{
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 50px;
  background: #242635;
  color: #f46d25;
}
.auth-btn a:hover{
  background: #f46d25;
  color: #fff;
}










/* CITIES */


.resorts {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 100px;
  margin-left: 325px;

  color: #fff;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-gap: 0px 150px;
}
.city-card {
  width: 300px;
  height: 500px;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px;
  
  overflow: hidden;
  transition: 1s;
  color: #fff;

  text-decoration: none;
}
.city-card:hover{
  
  transform: scale(1.05);

}
.city-card img{
  height: 400px;
  width: 300px;
  border-radius: 50px;
}
.c-title {
  margin-top: 25px;
  
}

/* RESORTS */

.resorts {

  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 100px;
  margin-left: 325px;

  color: #fff;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-gap: 0px 150px;

}
.res-card {

  width: 300px;
  height: 500px;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px;
  
  overflow: hidden;
  transition: 1s;
  color: #fff;

  text-decoration: none;

}

.res-card:hover{
  transform: scale(1.05);
}

.res-card img{
  height: 400px;
  width: 300px;
  border-radius: 50px;
}

.r-title {
  margin-top: 25px;
}




